include README.md CHANGELOG.md LICENSE
recursive-include docs *.md *.json
recursive-include tests *.py *.json
recursive-include tools *.py
recursive-include ast2python/target_data *.json
include ast2python/py.typed
